
/* 아웃라인 보고싶지 않으면 주석처리 */
  
  /* .lay1 {
    outline: 1px dashed crimson;
  }
  .lay2 {
    outline: 1px dashed blueviolet;
  }
  .lay3 {
    outline: 1px dashed green;
  } */


  .first {
    font-family: AppleL, AppleM, AppleB, AppleH, event, galaxy, google, consola, consolaB;
    height: 100%;
  }
  /* 아래로 내려갈수록 두꺼운 글씨체 */
  @font-face {
  font-family:'AppleL';
  src: url('../fonts/AppleSDGothicNeoL.ttf') format('truetype');
  }
  @font-face {
  font-family:'AppleM';
  src: url('../fonts/AppleSDGothicNeoM.ttf') format('truetype');
  }
  @font-face {
  font-family:'AppleB';
  src: url('../fonts/AppleSDGothicNeoB.ttf') format('truetype');
  }
  @font-face {
  font-family:'AppleH';
  src: url('../fonts/AppleSDGothicNeoH.ttf') format('truetype');
  }
    /* 이벤트용 폰트 */
  @font-face {
  font-family:'event';
  src: url('../fonts/나눔손글씨 고딕 아니고 고딩.ttf') format('truetype');
  }
  @font-face {
  font-family:'galaxy';
  src: url('../fonts/갤럭시X온글잎 이해.ttf') format('truetype');
  }
  @font-face {
  font-family:'google';
  src: url('../fonts/Product Sans Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'consola';
    src: url(../fonts/CONSOLA.TTF);
  }
  @font-face {
    font-family: 'consolaB';
    src: url(../fonts/CONSOLAB.TTF);
  }

    


  h1 {
    font-family: AppleH;
  }
  body {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: #191919;
  }

  /* 폰트 컬러*/
  .f_white {
    color: white ;
  }
  .f_black {
    color: #191919 ;
  }
  .f_lightgray {
    color: #DFDFDF ;
  }
  .f_darkgray {
    color: #464646 ;
  }
  .f_main {
    color: #FF0A54 ;
  }
  .f_sub {
    color: #FE91BD ;
  }
  .f_icon {
    color: #8A8A8A;
  }

  /* 배경 컬러*/
  .b_main {
    background-color: #FF0A54 ;
  }
  .b_sub {
    background-color: #FE91BD ;
  }
  .b_white {
    background-color: white ;
  }
  .b_black {
    background-color: #191919 ;
  }
  .b_lightgray {
    background-color: #DFDFDF ;
  }
  .b_darkgray {
    background-color: #464646 ;
  }
  .b_transparentwhite {
    background-color: rgba(255,255,255,0.8);
  }
  .b_transparentgray {
    background-color: #F6F6F6;
  }
  .b_lightgray_l{
    background-color: #EDEDED;
  }
  .b_kakao{
    background-color: #fae100;
  }



  .TopNavbar_box {
    width: 100%;
    height: 60px;
  }
  .SideNavbar_box {
    width: 240px;
    height: 100%;
    left: 0px;
  }
  .SideNavbar_space {
    width: 270px;
    height: 100%;
    margin-left: 0px;
  }
  .app_container {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .router_view_container {
    width: 100%;
    height: 100%;
  }
  .nosee {
    display: none!important;
  }
  .hover_cursor:hover {
    cursor: pointer;
  }
  .btn_hover:hover {
    cursor:pointer!important;
    background-color: #c9023e!important;
  }
  
  .slider_hover:hover {
    cursor: pointer;
    background-color: #c7c7c7;
  }

  /* 나중에 성장일지 v-chip의 배경색 바꾸기 위한 과정.....
.v-chip__underlay {
    background: red;
} */
/* .swiper-button-prev {
  color: #ffffff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #c4c4c4;
  left: 10% !important;
  top: 45.9%;
}

.swiper-button-prev::before{
  content: '<';
  font-size: large;
  color: #ffffff;
}

.swiper-button-next {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #c4c4c4;
  right: 10% !important;
  top: 45.9%;
}

.swiper-button-next::before{
  content: '>';
  font-size: large;
  color: #ffffff;
} */

.swiper-button-next::after,
.swiper-button-prev::after {
display: none;
}

/* Quill 사용을 위한 CSS */
.text-editor {
  font-size: 26px !important;
  font-family: galaxy !important;
  height: 90% !important;
  width: 96%;
}

.text-editor h1, .memo h1 {
  font-family: galaxy;
}

.text-editor pre, .memo pre {
  font-size: 18px !important;
  font-family: appleL !important;
  background-color: rgba(213, 203, 128, 0.7) !important;
  color: #000000 !important;
}

.text-editor blockquote, .memo blockquote {
  border-left: 4px solid #666 !important;
  background-color: #a5a5a536 !important;
  font-size: 26px !important;
}

/* 나중에 스크롤바 한번 해보자 */

.ql-editor::-webkit-scrollbar {
  background: none;
  width: 10px;
}

.ql-editor::-webkit-scrollbar-thumb {
  background-color: #7d7d7da8;
  border-radius: 10px;
}

body::-webkit-scrollbar {
  background: none;
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #7d7d7da8;
  border-radius: 10px;
}

textarea::-webkit-scrollbar {
  background: none;
  width: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: #a1a1a1a8;
  border-radius: 10px;
}

.v-field__input {
 font-size: 14px!important;
}

ul, li {
  list-style:none;
  padding-left:0px;
}

.v-snackbar__content {
  text-align: center;
}
/* alert 창을 위한 CSS */

input[type=radio] {
  display: none;
}


.Vue-Toastification__toast--default {
  font-family: appleL !important;
  /* background-color: #1976d2; */
  background-color: #f8f8f8d5 !important;
  color: #454545 !important;
}
.Vue-Toastification__toast--info {
  font-family: appleL !important;
  background-color: #ffffffc5 !important;
  /* background-color: #2196f3; */
  color: #fff !important;
}
.Vue-Toastification__toast--success {
  font-family: appleL !important;
  background-color: #ffffffc5 !important;
  /* background-color: #4caf50; */
  color: #080055 !important;
}
.Vue-Toastification__toast--error {
  font-family: appleL !important;
  background-color: #ffffffc5 !important;
  /* background-color: #ff5252; */
  /* color: #fff; */
  color: #ff5252 !important;
}
.Vue-Toastification__toast--warning {
  font-family: appleL !important;
  background-color: #ffffffc5 !important;
  /* background-color: #ffc107; */
  color: #860000 !important;
}